<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LARAMAID</title>
  <link rel="icon" href="images/icon.png">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <img src="images/logo.png" alt="Laramaid Logo" class="center">
</body>

</html>

<!-- Comment -->
